@import url('https://use.typekit.net/egm1zle.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image,
.hero-video,
.slide-image,
.slide-video {
  @apply absolute left-0 max-w-none xl:max-w-full object-cover;
}

.hero-image,
.slide-image,
.slide-video {
  filter: grayscale(100%) opacity(20%);
}

.hero-video,
.slide-video {
  @apply top-0;
}

.page-enter,
.page-leave-to {
  @apply opacity-0;
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity;
}

.page-title,
.page-title-large {
  @apply font-title text-sm;
}

abbr[title] {
  @apply no-underline;
}

address {
  font-style: normal;
}

.category {
  @apply font-bold text-xs tracking-wider uppercase;
}

.hero-section {
  @apply flex flex-col h-screen items-center justify-center pb-9 sm:pb-24 z-10;
  max-width: 88ch;
}

.hero-video {
  @apply z-0;
}

.illuminate-section {
  @apply h-auto md:h-screen bg-black flex flex-row xs:flex-wrap md:flex-wrap lg:flex-nowrap items-center justify-center overflow-hidden relative text-center text-white;
}
.illuminate {
  @apply px-3 sm:px-5 pb-5 sm:pb-8 pt-3 sm:pt-5 z-10 xs:w-full sm:w-6/12 flex xs:items-center sm:items-start;
}

.illuminate-text {
  @apply xs:justify-center sm:justify-start flex-col text-left text-white;
}

.illuminate-image {
  @apply absolute left-0 max-w-full object-cover filter opacity-25 min-h-full min-w-full;
}

.page-title {
  @apply font-bold md:text-md tracking-wider uppercase;
}

.page-title-large {
  @apply font-light sm:text-md 2xl:text-lg;
}

.page-subtitle {
  @apply font-light font-mono mt-2 text-xs sm:text-sm;
}

.slide-image {
  @apply bottom-0 z-10;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #E24944;
}

.section-video-iframe {
  @apply min-h-screen w-screen;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
}

.section-video-wrapper {
  @apply h-full max-h-screen overflow-hidden pointer-events-none top-0 left-0 w-full z-0;
}