@import url('https://use.typekit.net/egm1zle.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image,
.hero-video,
.slide-image,
.slide-video {
  @apply absolute left-0 max-w-none xl:max-w-full object-cover;
}

.hero-image,
.slide-image,
.slide-video {
  filter: grayscale(100%) opacity(20%);
}

.hero-video,
.slide-video {
  @apply top-0;
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity;
}

.page-enter,
.page-leave-to {
  @apply opacity-0;
}

abbr[title] {
  @apply no-underline;
}

.category {
  @apply font-bold text-xs tracking-wider uppercase;
}

.hero-section {
  @apply flex flex-col h-screen items-center justify-center pb-9 sm:pb-24 z-10;
  max-width: 88ch;
}

.hero-video {
  @apply z-0;
}

.page-title {
  @apply font-bold text-sm md:text-md tracking-wider uppercase;
}

.page-subtitle {
  @apply font-light font-mono mt-2 text-xs sm:text-sm;
}

.slide-image {
  @apply bottom-0 mt-auto z-10;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #E24944;
}